@import "tailwindcss";

*{
    font-family: "calibri";
    font-size: 18px;
}

.login-container{
    min-width: 100vw;
}

.feedabck-form-container{
    margin-left: 20vw;
    min-width: 60vw;
}

.annonymous-feedback-submit-btn {
    background-color: var(--color-blue-500);
    color: white;
}

.anonymous-feedback-btn{
    color: white;
}

#post-reply{
    background-color: oklch(0.62 0.22 259.77);
}

.nav-headings{
    color: white;
}

.post-question-btn{
    background-color: var(--color-blue-500);
    color: white;
}